body {
	--white: rgba(255, 255, 255, 1);
	--white-gray: rgba(255, 255, 255, 0.85);
	--dark-gray: #343b42;
	background: url("../img/wallpaper1.jpg") no-repeat center center fixed;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	color: var(--white);
	margin: 0;
}

main {
	display: grid;
	height: 100vh;
	padding: 10px;
	box-sizing: border-box;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 3fr 3fr 1fr;
	transition: opacity 0.5s;
}

/*-----Links Styling-----*/
#links a {
	text-decoration: none;
	transition: 0.25s ease all;
	color: var(--white-gray);
}

#links a:hover {
	color: var(--white);
}

/*-----Weather Styling-----*/
#weather {
	justify-self: end;
	grid-column: 3;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: column;
}

#weather i {
	font-size: 23px;
	margin-right: 4px;
}

.temp-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	cursor: pointer;
	font-size: 24px;
}

.temp-container .tooltip {
	top: 39px;
	right: 6px;
}

.city-container {
	display: flex;
	align-items: flex-start;
	cursor: pointer;
	font-size: 13px;
	color: var(--white-gray);
}

.city-container .tooltip {
	top: 61px;
	right: 0px;
}

.tooltip {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	font-size: 12px;
	color: var(--dark-gray);
	background-color: var(--white);
	padding: 2px 5px;
	border: 1px solid var(--dark-gray);
	transition: opacity 0.5s;
}

#weather div:hover .tooltip {
	visibility: visible;
	opacity: 1;
}

/*-----Greeting Styling-----*/
#greeting {
	grid-column: 1 / 4;
	justify-self: center;
	align-self: end;
}

.time {
	font-size: 8em;
	text-align: center;
	margin: 0;
	height: 135px;
}

.welcome {
	font-size: 2.7em;
	text-align: center;
}

.prompt {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 3.5em;
	transition: opacity 1s;
}

.prompt input {
	width: 90%;
	text-align: center;
	font-size: inherit;
	color: inherit;
	background: none;
	border: none;
	outline: none;
	border-bottom: 3px white solid;
	margin-top: 12px;
}

/*-----Main Focus Styling-----*/
#main-focus {
	grid-column: 1 / 4;
	justify-self: center; 
	align-self: start;
}

/*-----Photo Credit Styling-----*/
#photo-credit {
	align-self: end;
}


/*-----Quote Styling-----*/
#quote {
	align-self: end;
}

.quote {
	text-align: center;
}

.quote-author {
	display: none;
}


/*-----Todo Styling-----*/
#todo {
	align-self: end;
	justify-self: end;
}

#todo span {
	transition: 0.25s ease all;
	color: var(--white-gray);
}

#todo span:hover {
	color: var(--white);
	cursor: pointer;
}