body {
    background: url("../img/wallpaper1.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color:rgba(255, 255, 255, 1);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 1fr;
}

/*-----Links Styling-----*/
#links a {
    text-decoration: none;
    transition: 0.25s ease all;
    color:rgba(255,255,255,.85);
}

#links a:hover {
    color: rgba(255, 255, 255, 1);
}

/*-----Weather Styling-----*/
#weather {
    justify-self: end;
    grid-column: 3;
}

/*-----GReeting Styling-----*/
#greeting {
    grid-column: 1 / 4;
    justify-self: center;
    align-self: end;
    border: 1px solid black;
}

.time {
    font-size: 5em;
    text-align: center;
    margin: 0;
}

.welcome {
    font-size: 2em;
    text-align: center;
}

/*-----Main Focus Styling-----*/
#mainFocus {
    grid-column: 1 / 4;
    justify-self: center; 
    align-self: start;
}

/*-----Photo Credit Styling-----*/
#photoCredit {
    align-self: end;
}


/*-----Quote Styling-----*/
#quote {
    align-self: end;
}

.quote {
    text-align: center;
}

.quoteAuthor {
    display: none;
}


/*-----Todo Styling-----*/
#todo {
    align-self: end;
    justify-self: end;
}

#todo span {
    transition: 0.25s ease all;
    color:rgba(255,255,255,.85);
}

#todo span:hover {
    color:rgba(255,255,255,1);
    cursor: pointer;
}